<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<appSettings>
		<add key="SqlConnectionString" value="Server=.;Database=LogsDB;Integrated Security=true;"/>
		<add key="FileLogPath" value="C:\Logs\application.log"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>